---
import { Image } from 'astro:assets'
import { type Hero } from '@/types/hero'

const res = await fetch(
  'https://aida-api.webiz.se/api/hero?populate[image][fields][0]=url&fields[0]=title&fields[1]=call_action&fields[2]=image_description'
)

const { data } = (await res.json()) as Hero
const { title, call_action, image_description } = data.attributes
const { url } = data.attributes.image.data.attributes
const image = `https://aida-api.webiz.se${url}`
---

<section class="bg-beauty-bush-300 min-h-[100dvh] flex justify-center items-center font-alegreya px-4 py-5">
  <div class="w-11/12 max-w-7xl flex flex-col md:flex-row justify-between gap-10 md:gap-20">
    <Image
      src={image}
      inferSize={true}
      loading={'eager'}
      alt={image_description}
      class="rounded-full md:max-w-[50%] max-h-[20%] border-2 border-beauty-bush-50 mx-auto"
    />

    <div class="flex flex-col justify-center">
      <h1 class="text-5xl md:text-7xl font-medium mb-8 text-beauty-bush-950">
        {title}
      </h1>
      <p class="text-xl uppercase px-6 py-2 border-2 border-beauty-bush-50 w-fit">
        {call_action}
      </p>
    </div>
  </div>
</section>